<div style="background-color: cyan">
  <h2>Child</h2>
  <p>{{ dataFromParent }}</p>
  <button (click)="handleClick()">Send data to parent</button>
  <br />
  <br />
  <div>
    <h3>Data from Signal</h3>

    <p>User : {{ authContext.getUsername() }}</p>
    <p>
      {{ authContext.getUserIsAuthenticated() ? "Logged In" : "Logged Out" }}
    </p>
  </div>
  <div>
    <h3>Data from Behavior Subject</h3>

    <p>User : {{ userBS.username }}</p>
    <p>
      {{ userBS.isLogged ? "Logged In" : "Logged Out" }}
    </p>
  </div>
</div>
